<div class="container">
  <div>
    <h2>Add Product</h2>
  </div>
  <form >
    <div class="col-sm-2 col-md-2 col-lg-2">
      <label>Product Id</label>
      <input
        type="text"
        class="form-control"
        [(ngModel)]="newProduct.productId"
        name="productId"
        required
      />
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
      <label>Product Name</label>
      <input
        type="text"
        class="form-control"
        [(ngModel)]="newProduct.productName"
        name="productName"
        required
      />
    </div>
    <div class="col-sm-2 col-md-2 col-lg-2">
      <label>Product Price</label>
      <input
        type="number"
        class="form-control"
        [(ngModel)]="newProduct.productPrice"
        name="productPrice"
        required
      />
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
      <label>Date Creation</label>
      <input
        type="date"
        class="form-control"
        [(ngModel)]="newProduct.dateCreation"
        name="dateCreation"
        required
      />
    </div>
    <div class="mt-2">
      <button type="submit" (click)="addProduct()" class="btn btn-success">
        ADD
      </button>
    </div>
  </form>
</div>
